
.headerContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    background: rgb(87,74,232);
    background: linear-gradient(90deg, rgba(87,74,232,1) 0%, rgba(62,161,219,1) 100%);

    margin-bottom: 5rem;
  }
  
  .headerInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 10rem 3rem 10rem;
    font-weight: 400; 
    font-size: 24px;
    color: #FFFFFF;
  }
  
  label {
    position: relative;
    top: 1.4rem;
    left: 2rem;

    width: 1.6rem;
    height: 1.6rem;
  }
  .searchInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 100%;
  }
  
  .searchInput > input{
    width: 83%;
    height: 4.5rem;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    margin-left: -1rem;
    padding-left: 5rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: #FFFFFF
  }
  
  .searchInput > input::placeholder{
    font-weight: 500;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.5);
  }

  @media (max-width: 978px){
    .headerInfo{
      font-size: 22px;
      
    padding: 4rem 5rem 3rem 5rem;
    }
  }
  @media (max-width: 607px){
    .headerInfo{
    padding: 4rem 3rem 3rem 3rem;
    }
    .searchInput > input{
      height: 3rem;
    }

    label{
      top: 0.8rem;
      left: 2rem;

      width: 1.4rem;
      height: 1.4rem;
    }
  }
  @media (max-width: 414px){
    .headerInfo{
      font-size: 20px;
    }

    .searchInput > input{
      height: 2.6rem;
    }

    label{
      top: 0.8rem;
      left: 2rem;

      width: 1.04rem;
      height: 1.04rem;
    }
  }